<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData.HeadData }}
</head>

<body>
  <div class="content">
    {{ template "metadata" .RepoData }}
    <div class="mono">
      <r-grid columns="16">
        <r-cell span="3">
          <div class="ellipsis"><b>Date</b></div>
        </r-cell>
        <r-cell span="8">
          <div class="ellipsis"><b>Commit</b></div>
        </r-cell>
        <r-cell span="2">
          <div class="ellipsis"><b>Author</b></div>
        </r-cell>
        <r-cell span="1">
          <div align="right">
            <div class="ellipsis"><b>Files</b></div>
          </div>
        </r-cell>
        <r-cell span="1">
          <div align="right">
            <b>-</b>
          </div>
        </r-cell>
        <r-cell span="1">
          <div align="right">
            <b>-</b>
          </div>
        </r-cell>

        {{ range .Commits }}
        <r-cell span="3">
          <div class="ellipsis">{{ .Date }}</div>
        </r-cell>
        <r-cell span="8">
          <div class="ellipsis">
            <a href="{{ $.RepoData.BaseURL }}{{ $.RepoData.Name }}/commit/{{ .Hash }}">
              {{ .Message }}
            </a>
          </div>
        </r-cell>
        <r-cell span="2">
          <div class="ellipsis">{{ .Author }}</div>
        </r-cell>
        <r-cell span="1">
          <div align="right" class="ellipsis">
            {{ .FileChangeCount }}
          </div>
        </r-cell>
        <r-cell span="1">
          <div align="right" class="ellipsis">
            {{ .LinesAdded }}
          </div>
        </r-cell>
        <r-cell span="1">
          <div align="right" class="ellipsis">
            {{ .LinesDeleted }}
          </div>
        </r-cell>
        {{ end }}
      </r-grid>
    </div>
  </div>
</body>

</html>