<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .HeadData }}
</head>

<body>
  <div class="content">
    <div class="metadata">
      <b>{{ .HeadData.SiteName }}</b>
    </div>
    <div>
      <div class="metadata">
        <r-grid columns="20" style="gap: 2px;">
          <r-cell span="5">
            <b>Name</b>
          </r-cell>
          <r-cell span="8">
            <b>Description</b>
          </r-cell>
          <r-cell span="7">
            <b>Git</b>
          </r-cell>

          {{ range .Repos }}
          <r-cell span="5">
            <div class="ellipsis">
              <a href="{{ $.HeadData.BaseURL }}{{ .Name }}/log.html">
                {{ .Name }}
              </a>
            </div>
          </r-cell>
          <r-cell span="8">
            <div class="ellipsis">{{ .Description }}</div>
          </r-cell>
          <r-cell span="7">
            <div class="ellipsis">
              <a class="mono" href="{{ .BaseURL }}git/{{ .Name }}.git">
                {{ .BaseURL }}{{ .Name }}.git
              </a>
            </div>
          </r-cell>
          {{ end }}
        </r-grid>
      </div>
      <div style="padding-top: 2em">
        <small><b>Generated:</b> {{ .HeadData.GenTime }}</small>
      </div>
    </div>
  </div>
</body>

</html>