<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData.HeadData }}
</head>

<body>
  <div class="content">
    {{ template "metadata" .RepoData }}
    <r-cell span="16">
      <div style="padding-bottom: 4px;">
        <a href="{{ .RepoData.HeadData.BaseURL }}{{ .RepoData.Name }}/files.html">
          <span>
            ←
            All files
          </span>
        </a>
      </div>
    </r-cell>
    <div class="file">
      {{ if .CanRender }}
      {{ .Content }}
      {{ else }}
      Cannot preview file with extension <code>{{ .Extension }}</code>
      {{ end }}
    </div>
  </div>
</body>

</html>