{{ define "head" }}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ .BaseURL }}gshr.css" type="text/css">
<meta name="description" content="git static host repo">
<title>{{ .SiteName }}</title>
{{ end }}

{{ define "metadata" }}
<div class="metadata">
  <r-grid columns="12" style="gap: 2px;">
    <r-cell span="12">
      <div class="ellipsis">
        <a href="{{ .HeadData.BaseURL }}">
          <span>
            ←
            Back to main page
          </span>
        </a>
      </div>
    </r-cell>
    <r-cell span="12" style="padding-top: 12px;">
      <div class="ellipsis">
        <div><b>{{ .Name }}</b></div>
        <div>{{ .Description }}</div>
      </div>
    </r-cell>
    <r-cell span="12">
      <div class="mono ellipsis">
        git clone {{ .HeadData.BaseURL }}{{ .Name }}.git
      </div>
    </r-cell>
    {{ if not (eq .PublishedGitURL "") }}
    <r-cell span="12">
      <div class="ellipsis">
        alt url: <a href="{{ .PublishedGitURL }}">{{ .PublishedGitURL }}</a>
      </div>
    </r-cell>
    {{ end }}
    <r-cell span="12">
      <div>
        <a href="{{ .HeadData.BaseURL }}{{ .Name }}/log.html">Log</a>
        |
        <a href="{{ .HeadData.BaseURL }}{{ .Name }}/files.html">Files</a>
        {{ if not (eq .ReadMePath "") }}
        |
        <a href="{{ .HeadData.BaseURL }}{{ .Name }}/files/{{ .ReadMePath }}/index.html">
          {{ .ReadMePath }}
        </a>
        {{ end }}
        {{ if not (eq .LicenseFilePath "") }}
        |
        <a href="{{ .HeadData.BaseURL }}{{ .Name }}/files/{{ .LicenseFilePath }}/index.html">
          {{ .LicenseFilePath }}
        </a>
        {{ end }}
      </div>
    </r-cell>
  </r-grid>
</div>
{{ end }}