<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData.HeadData }}
</head>

<body>
  <div class="content">
    {{ template "metadata" .RepoData }}
    <div class="files mono">
      <r-grid columns="16">
        <r-cell span="11">
          <div class="ellipsis"><b>Name</b></div>
        </r-cell>
        <r-cell span="3">
          <div align="right" class="ellipsis"><b>Mode</b></div>
        </r-cell>
        <r-cell span="2">
          <div align="right" class="ellipsis"><b>Size</b></div>
        </r-cell>
        {{ range .Files }}
        <r-cell span="11">
          <div class="ellipsis">
            <a
               href="{{ $.RepoData.HeadData.BaseURL }}{{ $.RepoData.Name }}/files/{{ .Name }}/index.html">
              {{ .Name }}
            </a>
          </div>
        </r-cell>
        <r-cell span="3">
          <div align="right" class="ellipsis">{{ .Mode }}</div>
        </r-cell>
        <r-cell span="2">
          <div align="right" class="ellipsis">{{ .Size }}</div>
        </r-cell>
        {{ end }}
      </r-grid>
    </div>
  </div>
</body>

</html>