<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData }}
</head>

<body>
  <div class="content">
    {{ template "metadata" .RepoData }}
    <div class="commit-detail">
      <table>
        <tbody>
          <tr>
            <td><b>commit: </b></td>
            <td>
              <a href="{{ .RepoData.BaseURL }}commit/{{ .Hash }}/">
                {{ .Hash }}
              </a>
            </td>
          </tr>
          <tr>
            <td><b>author: </b></td>
            <td>{{ .Author }} &lt;{{ .AuthorEmail }}&gt;</td>
          </tr>
          <tr>
            <td><b>date: </b></td>
            <td> {{ .Date }}</td>
          </tr>
          <tr>
            <td><b>message: </b></td>
            <td> {{ .Message }}</td>
          </tr>
          <tr>
            <td><b>stats: </b></td>
            <td>
              {{ .FileChangeCount }} file(s) changed,
              {{ .LinesAdded }} insertions(+),
              {{ .LinesDeleted }} deletions(-)
            </td>
          </tr>
          <tr>
            <td><b>files: </b></td>
            <td>
              {{ range .FilesChanged }}
              <div>{{ . }}</div>
              {{ end }}
            </td>
          </tr>
        </tbody>
      </table>
      {{ .DiffContent }}
    </div>
  </div>
</body>

</html>