<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData.BaseURL }}
</head>

<body>
  <div class="content">
    {{ template "metadata" .RepoData }}
    <div class="files">
      <table>
        <thead>
          <tr>
            <td><b>Mode</b></td>
            <td><b>Name</b></td>
            <td><b>Size</b></td>
          </tr>
        </thead>
        <tbody>
          {{ range .Files }}
          <tr>
            <td>{{ .Mode }}</td>
            <td>
              <a href="{{ $.RepoData.BaseURL }}{{ $.RepoData.Name }}/files/{{ .Name }}/index.html">
                {{ .Name }}
              </a>
            </td>
            <td>{{ .Size }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>