<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData }}
</head>

<body>
  <div class="content">
    <div class="index">
      <div class="metadata">
        <table>
          <tbody>
            <tr>
              <td>
                <h1>whatever</h1>
                <span class="desc">
                  ???
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/whatever">link?</a>
              </td>
            </tr>
            <tr>
              <td>
                etc.....
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>