<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" .RepoData }}
</head>

<body>
  <div class="content">
    {{ template "metadata" .RepoData }}
    <div class="log">
      <table>
        <thead>
          <tr>
            <td><b>Date</b></td>
            <td><b>Commit message</b></td>
            <td><b>Author</b></td>
            <td align="right"><b>Files</b></td>
            <td align="right"><b>+</b></td>
            <td align="right"><b>-</b></td>
          </tr>
        </thead>
        <tbody>
          {{ range $c := .Commits }}
          <tr>
            <td>{{ $c.Date }}</td>
            <td class="commit">
              <a href="{{ .BaseURL }}commit/{{ $c.Hash }}">{{ $c.Message }}</a>
            </td>
            <td>{{ $c.Author }}</td>
            <td align="right">{{ $c.FileChangeCount }}</td>
            <td align="right">+{{ $c.LinesAdded }}</td>
            <td align="right">-{{ $c.LinesDeleted }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>