{{ define "head" }}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>gshr</title>
<link rel="stylesheet" href="{{ .BaseURL }}gshr.css" type="text/css">
<meta name="description"
      content="git static host repo">
<meta property="og:site_name" content="gshr">
<meta property="og:type" content="article">
<meta property="article:author" content="gshr">
{{ end }}

{{ define "metadata" }}
<div class="metadata">
  <table>
    <tbody>
      <tr>
        <td>
          <h1>{{ .Name }}</h1>
          <span class="desc">
            {{ .Description }}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ .GitURL }}">{{ .GitURL }}</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ .BaseURL }}log.html">Log</a>
          |
          <a href="{{ .BaseURL }}files.html">Files</a>
          {{ if not (eq .ReadMePath "") }}
          |
          <a href="{{ .BaseURL }}files/{{ .ReadMePath }}/index.html">
            {{ .ReadMePath }}
          </a>
          {{ end }}
          {{ if not (eq .LicenseFilePath "") }}
          |
          <a href="{{ .BaseURL }}files/{{ .LicenseFilePath }}/index.html">
            {{ .LicenseFilePath }}
          </a>
          {{ end }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{{ end }}